* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
button {
  background-color: rgb(82, 186, 179);
  border-radius: 6px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
}
#placeholder1 {
  height: 15px;
  width: 15px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:50px;
}
#placeholder2 {
  height: 15px;
  width: 15px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:50px;
}
#box_and_button{
  float:left;
}

td
        {
            width: 100px;
            height: 100px;
        }

        .Board
        {
            width: 310px;
            height: 310px;
            margin: auto;
        }

        .Normal
            {
                background-color: gray;
                border: 1px solid black;
                width: 100%;
                height: 100%;
                position: relative;
            }

            .Home   
            {
                width: 100%;
                height: 100%;
                position: relative;
            }

        .Reroll
        {
            background-color: orange;
            border: 1px solid black;
            width: 100%;
            height: 100%;
            position: relative;
        }

        .Safe
        {
            background-color: green;
            border: 1px solid black;
            width: 100%;
              height: 100%;
              position: relative;
        }

        .Player1
        {
            display: table;
            border-radius: 50%;
            background-color: blue;
            width: 50%;
            height: 50%;
        position: absolute;
        left: 25%;
        top: 25%;
      }

        .Player2
        {
            display: table;
            border-radius: 50%;
            background-color: red;
            width: 50%;
            height: 50%;
              position: absolute;
              left: 25%;
            top: 25%;
        }

